<div class = "row">
	<div class = "col-md-10">
		<h1 class = "savingsbondtitle">OUR SERVICES </H1>
	</div>
</div>

<% @services.each do |service| %>
	<div class = "col-md-4 col-md-offset-1">
		<div class = "service-box">
			<tr>
				<td><h3 class = "service-title"><%= service.name %></h3></td>
				<td><p><%= service.description %></p></td>
			</tr>
		</div>
	</div>
<% end %>
<div class = "row">
	<div class ="col-md-4 col-md-offset-1">
		<h1>Home</h1>
		<button class ="t-button-large"><%= link_to 'Back',  root_path %></button>
	</div>
	<div class ="col-md-4 col-md-offset-1">
		<h1>Get In Touch!</h1>
		<button class ="t-button-large"><%= link_to 'Contact Us',  new_static_page_path %></button>
	</div>
</div>

