<% @services.each do |service| %>
	<div class = "col-md-6">
		<tr>
			<td><h3 class = "service-title"><%= service.name %></h3></td>
			<td><div class ="services"><%= service.description %></div></td>
		</tr>
	</div>
<% end %>
<div class = "row">
	<div class ="col-md-6">
		<h1>Home</h1>
		<button class ="t-button-large"><%= link_to 'Back',  root_path %></button>
	</div>
	<div class ="col-md-6">
		<h1>Get In Touch!</h1>
		<button class ="t-button-large"><%= link_to 'Contact Us',  new_static_page_path %></button>
	</div>
</div>

