/*
Errno::ENOENT: No such file or directory - styles.scss

Backtrace:
/Users/hannahnordgren/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:360:in `read'
/Users/hannahnordgren/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:360:in `update_stylesheet'
/Users/hannahnordgren/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/hannahnordgren/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:201:in `each'
/Users/hannahnordgren/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/hannahnordgren/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:235:in `watch'
/Users/hannahnordgren/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/plugin.rb:107:in `method_missing'
/Users/hannahnordgren/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/exec.rb:463:in `watch_or_update'
/Users/hannahnordgren/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/exec.rb:326:in `process_result'
/Users/hannahnordgren/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/exec.rb:41:in `parse'
/Users/hannahnordgren/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/exec.rb:21:in `parse!'
/Users/hannahnordgren/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/bin/sass:13:in `<top (required)>'
/Users/hannahnordgren/.rvm/gems/ruby-2.0.0-p247/bin/sass:23:in `load'
/Users/hannahnordgren/.rvm/gems/ruby-2.0.0-p247/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - styles.scss"; }
