// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "font-awesome";
//variables
// BACKGROUND COLOR: WHITE
// BUTTON COLOR: LIGHT GRAY
// BUTTON COLOR TEXT: MEDIUM GRAY
// SOCIAL MEDIA BUTTON: POP GREEN
// NAVBAR: MEDIUM GRAY
// TEXT: BLACK

@font-face {
  font-family: 'Enigmatic';
  src:font-url('/fonts/enigmatic/enigma-webfont.eot');
  src:font-url('/fonts/enigmatic/enigma-webfont.eot?#iefix') format('embedded-opentype'),
      font-url('/fonts/enigmatic/enigma-webfont.svg#icomoon') format('svg'),
      font-url('/fonts/enigmatic/enigma-webfont.woff') format('woff'),
      font-url('/fonts/enigmatic/enigma-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$white: #f6f6f5;
$lt-gray: #b6b8b5;
$dk-gray: #676964;
$black: #020700;
$dk-green: #163000;
$pop-green: #244b00;
$lt-green: #3f8102;

//fonts
h1,h2,h3,h4,h5,h6 {
  font-family: 'Enigmatic', georgia, serif;
  color: $dk-green;
}

//general

body{
	background-color: $white;
	color: $black;
}

.navbar {
	background-color: $lt-gray;
}

//buttons
button {
	background-color: $lt-gray;
	color: $dk-gray;
  border: none;

}

.t-button-large {
  font-size: 125%;
  padding: 10px 15px;
}

//navbar

.navbar
.nav > li > a {
	color: $dk-green;
	text-shadow: none;
}

.navbar
.nav > li > a:hover {
	color: $lt-green;
	text-shadow: none;
}

//carousel
 .carousel {
  position: relative;
  margin-bottom: 20px;
  line-height: 1;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
     -moz-transition: 0.6s ease-in-out left;
       -o-transition: 0.6s ease-in-out left;
          transition: 0.6s ease-in-out left;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  line-height: 1;
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}

.carousel-inner > .active {
  left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-inner > .next {
  left: 100%;
}

.carousel-inner > .prev {
  left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}

.carousel-inner > .active.left {
  left: -100%;
}

.carousel-inner > .active.right {
  left: 100%;
}

.carousel-control {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
     -moz-border-radius: 23px;
          border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.carousel-control.right {
  right: 15px;
  left: auto;
}

.carousel-control:hover,
.carousel-control:focus {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.carousel-indicators {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 5;
  margin: 0;
  list-style: none;
}

.carousel-indicators li {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  text-indent: -999px;
  background-color: #ccc;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
}

.carousel-indicators .active {
  background-color: #fff;
}

.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  background: #333333;
  background: rgba(0, 0, 0, 0.75);
}

.carousel-caption h4,
.carousel-caption p {
  line-height: 20px;
  color: #ffffff;
}

.carousel-caption h4 {
  margin: 0 0 5px;
}

.carousel-caption p {
  margin-bottom: 0;
}

